html {
    background: linear-gradient(rgb(255, 125, 231), rgb(255, 255, 255));
    height: 1000px;
}

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.navigation {
    background-image: url('/assets/aespaverse_banner.png');
    height: 285px;
    background-size: cover;
    overflow: hidden;
}

.navigation a {
    float: right;
    color: #b30d92;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    transition: transform 0.1s ease-in-out;
}

.navigation a:hover {
    color: #ff35b8;
    transform: translateY(3px);
}

.navigation #logo {
    width: 300px;
    height: auto;
    margin-top: 60px;
}


::-webkit-scrollbar {
    width: 13px;
    height: 10px;
  }
  
::-webkit-scrollbar-track {
    background: linear-gradient(#ffffff, #ffffff);
    border: 2px solid gray;
  }
  
::-webkit-scrollbar-thumb {
    background: #ffffff;
    border: 2px solid #ff35b8;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#ff5bce, #ffffff);
  }
